/* {
    margin: 0;
    padding: 0;
    font-family: sofia-pro, sans-serif;
}

.logo a {
    color: black;
    text-decoration: none;
    font-size: 30px;
		font-family: minion-pro; 
    
}



/* sets different rules for narrower screens (usually meaning mobile) If
you want to quickly test how this works on your computer, just make your 
browser window really skinny */

/*
.coverImage {
	display: flex;

  justify-content: center;
	flex-direction: column;  

  height: 100vh;
  background-image: url(../when-can-babies-eat-eggs.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

/* .image {
	width: 100%; 
} */
/*
.titleText { 

	padding-bottom: 15%; 
	margin-left: 5%; 
  margin-top: auto;
}

.title {
	text-align: left;
	font-size: 6vw; 
	color: rgb(145, 189, 224);
}

.subtitle {
	text-align: left; 
	font-size: 3vw;
	font-weight: 350; 
	color: rgb(51, 67, 119); 

}

.caption {
	/* margin-left: 90%;
	margin-top: 1%;
	margin-bottom: 1%;  */
/*
  align-self: flex-end;
  margin-top: auto;
  padding-right: 2%;
  padding-bottom: 5%;
	font-size: 12px; 
}

.intro {
	font-size: 20px;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	margin-bottom: 8%;
}

.header {
	font-size: 3vw; 
	text-align: center;
	margin-bottom: 3%;
}

.two-col-box {
	display: flex;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5%; 
	margin-bottom: 5%; 
	width: 40%; 
	padding: 20px 10px;
	background-color: rgb(243, 241, 241);  
	font-size: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(145, 189, 224);
  flex-direction: column;
}

.two-col-box .graph{
border: none;
height: 400px;
width: 100%;

}

.single-col-box{
  display: flex;
  justify-content: center;
align-items: center;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5%; 
	margin-bottom: 5%; 
	width: 40%; 
	padding: 20px 20px;
	background-color: rgb(243, 241, 241);  
	font-size: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(145, 189, 224);
}

.single-col-box .graph{
min-width: 100%; 
border: none;
height: 400px;


}

.chart {
	display: inline-block;
	width: 30vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  padding: 0.5vw 1vw;
  margin-bottom: 3vh;
	
}

.commentary {
	font-size: 18px;
	margin-top: 5%;
	margin-left: 3%;
}

.intro-text {
	margin-left: 25%;
	margin-right: 25%;
	font-size: 25px;
	margin-top: 2%;
	margin-bottom: 3%;   
}

.subcategory {
	font-size: 25px; 
	margin-left: 5%;
	margin-bottom: 3%; 
}

.box-container {
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
}

.box {
	margin-bottom: 5%; 
	padding: 10px 10px;
	background-color: rgb(243, 241, 241);  
	font-size: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(145, 189, 224);
}

#placeholder {
	height: 400px; 
}

@media screen and (max-width: 800px) {

    .logo{
        font-size: 20px;
        color: red !important
    }
    
    .coverImage{
      height: 50vh;
    }

    .two-col-box{
      flex-direction: row;
    }

    .two-col-box{
      flex-direction: column;
    }

   
  }